@use './sass/components' as *;
@use './sass/utils' as *;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

// font-family: 'Fraunces', serif;

body {
    font-size: 18px;
}