@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
header {
  background-image: url("../../assets/mobile/image-header.jpg");
  padding: 32px 24px 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav .menu-logo {
  height: 17px;
}
header h1 {
  margin-top: 88px;
  margin-bottom: 52px;
  color: white;
  text-transform: uppercase;
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
header .arrow-wrapper {
  text-align: center;
}

.first-section__learn-more img {
  width: 100%;
}
.first-section__text {
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.first-section__text h1 {
  font-family: "Fraunces";
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  color: #23303e;
}
.first-section__text p {
  color: #818498;
  line-height: 30px;
}
.first-section__text button {
  border: none;
  background-color: transparent;
  padding: 5px;
  font-family: "Fraunces";
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  border-radius: 3px;
}
.first-section__button--yellow {
  box-shadow: inset 0px -10px 0px 0px #fad40035;
}
.first-section__button--red {
  box-shadow: inset 0px -10px 0px 0px #fe796735;
}

.second-section div {
  padding: 400px 24px 59px;
}
.second-section__cherry {
  background-image: url("../../assets/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.second-section__cherry h1,
.second-section__cherry p {
  color: #25564b;
}
.second-section__tangerina {
  background-image: url("../../assets/mobile/image-photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.second-section__tangerina h1,
.second-section__tangerina p {
  color: #19536b;
}
.second-section h1 {
  font-family: "Fraunces";
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 27px;
}
.second-section p {
  line-height: 27px;
  text-align: center;
}

.third-section {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  align-items: center;
  padding: 64px 24px;
}
.third-section h1 {
  font-family: "Fraunces";
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  color: #a7abae;
  letter-spacing: 4px;
}
.third-section__testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  text-align: center;
}
.third-section__testimonial img {
  border-radius: 50%;
  width: 72px;
}
.third-section__testimonial p {
  color: #5a636c;
  line-height: 32px;
}
.third-section__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 9px;
}
.third-section__name {
  font-family: "Fraunces";
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #23303e;
}
.third-section__job {
  color: #a7abae;
}

.fourth-section div {
  display: flex;
}
.fourth-section img {
  width: 50%;
}

footer {
  background-color: #90D4C6;
  padding: 80px 40px;
  text-align: center;
}
footer .navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 80px;
}
footer .social-medias {
  display: flex;
  justify-content: space-evenly;
}
footer a {
  color: #458c7e;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
