header {
    background-image: url('../../assets/mobile/image-header.jpg');
    padding: 32px 24px 135px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}