// Primary

$soft-red: #fe7867;
$soft-red-border: #fe796735;
$yellow: #fad400;
$yellow-border: #fad40035;
$dark-desaturated-cyan: #25564b;
$dark-blue: #19536b;
$dark-moderate-cyan: #458c7e;

// Neutral

$very-dark-desaturated-blue: #23303e;
$very-dark-grayish-blue: #5a636c;
$dark-grayish-blue: #818498;
$grayish-blue: #a7abae;
$white: #ffffff;